.tab-user-card {
  .nav-pills {
    background: #ecf0f5;
    padding: 20px;
    border-radius: 5px;
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button.active{
  background: $primary-color;
  border-color: $primary-color;
}
thead {
  tr{
    th{
    font-size: 14px  !important;
    background: #066DB2 !important;
    border-top: 0 !important;
    border-bottom: 1px solid #e2e5e8 !important;
    color: #fff !important;
    text-transform: uppercase !important;
    text-align: center !important;
    padding: 10px !important;
    }
  }
}
.table.dataTable[class*="table-"] {
  thead {
    th{
      font-size: 14px  !important;
      background: #066DB2 !important;
      border-top: 0 !important;
      border-bottom: 1px solid #e2e5e8 !important;
      color: #fff !important;
      text-transform: uppercase !important;
      text-align: center !important;
      padding: 10px !important;
    }
  }
}
tbody{
  font-size: 12px;
}

/*
div < #btnEdit{
  height: 20px;
}

*/
.btn-page{
  height: 20px  !important;
}

.btnEdit{
  width: 30px !important;
    height: 30px !important;
}
  #btnEdit{
    width: 30px !important;
    height: 30px !important;
  }
  #btnDel{
    width: 30px !important;
    height: 30px !important;
  }
  .email-card{
    margin-bottom: -20px;
  }
  .card-body{
    font-size: 12px;
  }
  .form-label{
    font-weight: 900 !important;
  }
  .form-group{
    margin-bottom: 0.2rem;
  }
  .form-control{
    font-size: 12px;
  }
  .form-control-edit{
    border: 1px solid gray !important;
    height: 25px;
    padding: 0;
    width: 100%;
  }



  /////// Height
  .h-25px{
    height: 25px !important;
  }


  ////// Margin
  .mt--4px{
    margin-top: -4px;
  }


  .tab-content{
    width: 100% !important;
  }

  .cursor{
    cursor:pointer;
  }

  .w-45{
    width: 45% !important;
  }
  .wid-158{
    width: 158px !important;
  }
  .wid-200{
    width: 200px !important;
  }
  .wid-215{
    width: 215px !important;
  }
  .wid-220{
    width: 220px !important;
  }